* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f9f8;
}

/* ================= NAVBAR ================= */

.navbar {
    width: 100%;
    height: 72px;
     min-height: 72px;
    flex-shrink: 0;

    display: flex;
    align-items: center;

    padding: 0 38px;

    background: #ffffff;
    border-bottom: 1px solid #eeeeee;

    gap: 40px;

     position: sticky;
    top: 0;
    z-index: 1000;
}

/* ================= LOGO ================= */

.logo {
    display: flex;
    align-items: center;
    gap: 9px;

    text-decoration: none;
    min-width: 150px;
}

.logo-icon {
    width: 40px;
    height: 40px;

    border: 2px solid #159b69;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #159b69;
    font-size: 17px;

    position: relative;
}

.logo-icon::before,
.logo-icon::after {
    content: "";
    position: absolute;

    width: 6px;
    height: 6px;

    border-radius: 50%;
    background: #159b69;
}

.logo-icon::before {
    top: -5px;
    left: 10px;
}

.logo-icon::after {
    right: -5px;
    top: 10px;
}

.logo-text h2 {
    font-size: 28px;
    line-height: 18px;
    color: #202828;
    font-weight: 700;
}

.logo-text h2 span {
    color: #159b69;
}

.logo-text p {
    margin-top: 6px;
    margin-left: 4px;

    font-size: 10px;
    font-weight: 600;

    color: #159b69;
    letter-spacing: 0.2px;
}

/* ================= NAV LINKS ================= */

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;

    flex: 1;
}

.nav-links a {
    text-decoration: none;

    font-size: 15px;
    font-weight: 500;

    color: #303737;

    transition: 0.2s ease;
}

.nav-links a:hover {
    color: #159b69;
}

.nav-links a.active {
    color: #159b69;
    font-weight: 600;
}

/* ================= RIGHT SIDE ================= */

.nav-right {
    display: flex;
    align-items: center;
    gap: 17px;
}

.icon-btn {
    border: none;
    background: transparent;

    cursor: pointer;

    font-size: 22px;
    color: #222;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn:hover {
    color: #159b69;
}

/* ================= SELL BUTTON ================= */

.sell-btn {
    border: none;

    background: #07965f;
    color: white;

    padding: 11px 18px;

    border-radius: 6px;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.2s ease;
}

.sell-btn:hover {
    background: #067d50;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 900px) {

    .navbar {
        padding: 0 20px;
        gap: 20px;
    }

    .nav-links {
        gap: 15px;
    }

    .nav-links a {
        font-size: 11px;
    }

    .logo {
        min-width: auto;
    }

    .sell-btn {
        padding: 9px 12px;
    }
}

@media (max-width: 700px) {

    .navbar {
        height: auto;
        min-height: 65px;
        flex-wrap: wrap;
        padding: 12px 20px;
    }

    .nav-links {
        order: 3;
        width: 100%;
        justify-content: center;
        padding: 10px 0;
        overflow-x: auto;
    }

    .nav-right {
        margin-left: auto;
    }

    .icon-btn {
        display: none;
    }
}